body{
    height: 100%;
    background-image: linear-gradient(147deg, #000000 0%, #2c3e50 74%);
    background-attachment: fixed;
}
.main-heading{
    color: coral;
    text-align: center;
    font-size: 4rem;
    font-family: cursive;
}
.to-do-input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.user-input{
    width: 40%;
    height: 40px;
    outline: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: inherit;
    color: #fff;
    font-size: larger;
}
/* add task button */
.add-task{
    background-color: coral;
    height: 60px;
    width: 60px;
    border-radius: 1.5rem;
    outline: none;
    border:none;
    margin: 1%;
    cursor: pointer;
}
.add-task:hover{
    background-color: rgb(20, 22, 17);
    color: #fff;
}


.task-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5% auto;
}

.tasks{
    margin:0.5rem;
    
}
.task-input{
    width:40%;
    background-color: inherit;
    outline: none;
    border: 2px solid coral;
    border-radius: 3rem;
    width: 400px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    
}

.edit-task, .delete-task{
    height: 30px;
    width: 70px;
    background-color: coral;
    font-size: large;
    border-radius: 2rem;
    border: none;
    outline: none;
    margin-left:0.5rem;
    cursor: pointer;
    color: #dbffb8;
    
}
.edit-task:hover{
    color: black;
    background-color: burlywood;
}
.delete-task:hover{
    color: #ff0000;
    background-color: #000000;
}

.task-check {
    zoom: 2;
    position: relative;
    top: 0.30rem;

}
input[type=checkbox]:checked + .task-input {
        
    text-decoration: line-through;
    font-style: italic;
}

#counter{
    text-align: center;
    font-size: 2rem;
    color: #fff;
    font-family: monospace ;
}
